body {
    background-color: dark;
}

.parrafo {
    background-color: (rgb000000);
    margin: auto;
}

h1 {
    margin: auto;
    font-weight: dark;
}

.menu {
    background-color: #000000;
}

.center {
    text-align: center;
}
