body {
    background-color: dark;
}

.parrafo {
    background-color: (rgb
 255, 255, 255);;
    margin: auto;
}

h1 {
    margin: auto;
    font-weight: (rgb
 255, 255, 255);
}

.menu {
    background-color: (RGB
 250, 8, 8);
}

.center {
    text-align: center;
}
